
<p>
  <strong>Title:</strong>
  <%= @dish.title %>
</p>
 
<p>
  <strong>Desription:</strong>
  <%= @dish.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @dish.category %>
</p>

<p>
  <strong>Cooking time:</strong>
  <%= @dish.duration %>
</p>
